<body>
Hello CATS!
<table>

    {% for cat in cats %}
        <tr>
            <td>
            {{ cat.id }}
            </td>
            <td>
            {{ cat.name }}
            </td>
        </tr>
    {% endfor %}
</table>
<script src="{{ asset('https://code.highcharts.com/highcharts.js') }}"></script>
</body>