Hello EVENTS!
<body>
<div id="charts"></div>
<script src="{{ asset('//code.jquery.com/jquery-3.1.0.min.js') }}"></script>
<script src="{{ asset('//code.highcharts.com/stock/highstock.js') }}"></script>
<script src="{{ asset('/js/events.js') }}"></script>
</body>