Hello CATS!
<table>
    {% for cat in cats %}
        <tr>
            <td>
            {{ cat.id }}
            </td>
            <td>
            {{ cat.name }}
            </td>
        </tr>
    {% endfor %}
</table>
